<!DOCTYPE html>
<html lang="en">
<%- include("partials/head",{title: "Signup | Font Upload" })%>

    <body>
        <header class="py-1"><%- include("partials/navbar") %></header>
        <main class="py-5">
            <div class="container">
                <form class="row" id="loginForm">
                    <div class="col-12">
                        <h1>Sign Up With Using Email</h1>
                    </div>
                    <div class="col-md-8 mx-auto">
                        <div class="mb-3">
                            <label for="leInputFullName" class="form-label text-white">Full Name</label>
                            <input type="text" class="form-control bg-dark text-white" id="leInputFullName"
                                aria-describedby="leInputFullName" name="full_name" />
                        </div>
                        <div class="mb-3">
                            <label for="leInputEmail1" class="form-label text-white">Email address</label>
                            <input type="email" class="form-control bg-dark text-white" id="leInputEmail1"
                                aria-describedby="emailHelp" name="email" />
                        </div>
                        <div class="mb-3">
                            <label for="leInputPassword1" class="form-label text-white">Create Password</label>
                            <input type="password" class="form-control bg-dark text-white" id="leInputPassword1"
                                name="password" />
                        </div>
                        <div class="mb-3">
                            <label for="leInputPasswordConfirm" class="form-label text-white">Confirm Password</label>
                            <input type="password" class="form-control bg-dark text-white" id="leInputPasswordConfirm"
                                name="confirm_password" />
                        </div>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                </form>
            </div>
        </main>
        <%- include('partials/footer') %>

            <script>
                const token = JSON.parse(localStorage.getItem("_font_upload_token"))
                if (token) {
                    location.pathname = "profile"
                }
                const signUpForm = document.querySelector("#loginForm")
                const inputs = [...signUpForm.querySelectorAll("input")]
                const submitButton = signUpForm.querySelector("button[type='submit']")

                const dataStore = {
                    full_name: "",
                    email: "",
                    password: "",
                    confirm_password: ""
                }

                inputs.forEach(input => {
                    input.addEventListener("input", (e) => {
                        dataStore[input.name.trim()] = input.value.trim()
                    })
                })

                submitButton.addEventListener("click", async (e) => {
                    e.preventDefault()
                    if (!dataStore.password || !dataStore.confirm_password || !dataStore.email || !dataStore.full_name) return console.log("Please fill All Input")
                    if (!dataStore.password === dataStore.confirm_password) return console.log("Password Not Matched")
                    try {
                        const requestBody = {
                            full_name: dataStore.full_name,
                            email: dataStore.email,
                            password: dataStore.password
                        }
                        const request = await fetch("https://font-upload.vercel.app/signup", {
                            method: "POST", headers: {
                                "Content-Type": "application/json"
                            }, body: JSON.stringify(requestBody),
                        })
                        const response = await request.json()
                        if (response.status === 200) {
                            alert(response.message)
                        } else {
                            console.log(response.message)
                        }
                    } catch (error) {
                        console.log(error)
                    }
                })

            </script>
    </body>

</html>