<!DOCTYPE html>
<html lang="en">
<%- include("partials/head",{title: "User | Font Upload" })%>

  <body>

    <div class="position-fixed vw-100 vh-100 d-flex justify-content-center align-items-center bg-dark"
      style="z-index: 1000;" id="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <header class="py-1 bg-dark"><%- include("partials/user_navbar") %></header>
    <main class="py-5">
      <div class="container">
        <div class="row" id="user_info">
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <form class="modal-content bg-dark text-white" enctype="multipart/form-data" id="uploadForm">
              <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLabel">Upload A New Font</h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body p-3">
                <label for="font" style="cursor: pointer;"
                  class="p-4 d-flex flex-column align-items-center justify-content-center text-white bg-gradient border border-1 rounded pointer">
                  <span class="fs-1 mb-2"><i class="fa-solid fa-cloud-arrow-up"></i></span>
                  <span class="font_name"></span>
                  <input type="file" name="font" id="font" accept=".woff,.woff2" hidden />
                </label>
              </div>
              <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="uploadButton" type="submit" class="btn btn-primary">Upload</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </main>
    <%- include('partials/footer') %>

      <script>

        const token = JSON.parse(localStorage.getItem("_font_upload_token"))

        if (!token) location.pathname = "login"

        async function getAuthenticatedUser() {
          try {
            const request = await fetch("https://font-upload.vercel.app/profile", {
              method: "POST", headers: {
                "Content-Type": "application/json",
                "Authorization": `Bearer ${token}`
              }
            })
            const response = await request.json()
            if (response) {
              return response.data;
            } else {
              console.log(response.message)
              localStorage.removeItem("_font_upload_token")
              location.pathname = "login"
            }
          } catch (error) {
            console.log(error)
          }
        }
        async function showUserDetails() {
          const userInfo = document.querySelector("#user_info")

          const userData = await getAuthenticatedUser()

          userInfo.innerHTML = `
          <div class="col-md-8 mx-auto">
            <div class="mb-3 bg-dark">
             <h2 class="text-white">Welcome, ${userData.full_name}</h2>
            </div>
            <div class="list-group bg-dark">
              ${userData.fonts.map(font => {
            const result = font.name.split("__")[1].replaceAll("_", " ").replace(/\b\w/g, function (txt) { return txt.toUpperCase(); });
            return `<div class="list-group-item bg-dark"> 
               <h3 class="fs-4 text-white">${result}</h3>
                      <div class="d-flex align-items-center fonts_info">
                        <p class="lead text-white text-wrap" style="max-width: calc(100% - 60px);text-overflow: ellipsis;word-wrap: break-word">${font.fontURL}</p>
                        <span class="copy_url  text-white" data-url=${font.fontURL} style="width: 40px; text-align: right; cursor: pointer;"><i class="fa-regular fa-clipboard"></i></span>
                        <span class="delete_font  text-white" data-name=${font.name} style="width: 40px; text-align: right; cursor: pointer;"><i class="fa-solid fa-trash"></i></span>
                      </div>
              </div>`
          }).join(" ")}
            </div>
          </div>
          `

          const deleteFonts = [...userInfo.querySelectorAll(".delete_font i")]

          deleteFonts.forEach(deleteFont => {
            deleteFont.addEventListener("click", deleteUserFont)
          })
          const copyURLs = [...userInfo.querySelectorAll(".copy_url i")]

          copyURLs.forEach(copyBtn => {
            copyBtn.addEventListener("click", copyURLToClipboard)
          })


          const loader = document.querySelector("#loader")
          loader.style = `display: none !important;`
        }

        const upload = document.querySelector("input#font")

        upload.addEventListener("input", (e) => {
          const fontName = document.querySelector("span.font_name")
          fontName.innerHTML = upload.files[0].name
        })

        const myForm = document.querySelector('#uploadForm')
        myForm.addEventListener('submit', (e) => {
          e.preventDefault()
          const formData = new FormData()
          formData.append("font", upload.files[0])
          handleFontUpload(formData)
        })

        async function handleFontUpload(formData) {
          loader.style = `display: flex !important;`
          try {
            const request = await fetch("https://font-upload.vercel.app/font", {
              method: "POST", headers: {
                "Authorization": `Bearer ${token}`,
              },
              body: formData
            })
            const response = await request.json()
            if (response.status === 200) {
              document.querySelector("[data-bs-dismiss='modal']").click()
              return showUserDetails();
            } else {
              console.log(response.message)
              // location.pathname = "login"
            }
          } catch (error) {
            console.log(error)
          }
        }

        async function deleteUserFont(e) {
          const fontName = e.target.parentElement.dataset.name
          loader.style = `display: flex !important;`
          try {
            const request = await fetch("https://font-upload.vercel.app/font/" + fontName, {
              method: "DELETE", headers: {
                "Authorization": `Bearer ${token}`,
              },
            })
            const response = await request.json()
            if (response.status === 200) {
              return showUserDetails();
            } else {
              console.log(response.message)
              // location.pathname = "login"
            }
          } catch (error) {
            console.log(error)
          }

        }

        const copyTextEl = document.createElement("span")
        copyTextEl.innerHTML = "Copied"

        async function copyURLToClipboard(e) {

          const copyBtnParent = e.target.parentElement
          const copyBtn = e.target

          const fontURL = copyBtnParent.dataset.url

          await navigator.clipboard.writeText(fontURL)

          copyBtnParent.append(copyTextEl)
          copyBtn.style.display = "none"

          setTimeout(() => {
            copyTextEl.remove()
            copyBtn.style.display = "inline"
          }, 1500)

        }

        showUserDetails()
      </script>
  </body>

</html>